<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nintemulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nintemulator.Properties.Settings>
            <setting name="FmcPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SfcPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="GmbPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="GbcPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="GbaPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="NdsPath" serializeAs="String">
                <value/>
            </setting>
        </Nintemulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
